{% extends 'base.html.twig' %}

  {% block stylesheets %}

   {{parent()}}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">


   <style>
   footer {
    height: 20vh;
      background-color: #343a40;
     color: white;
    font-size: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   }
   
   </style>
        
  {% endblock %}



    {% block content %}
     <table style="margin-bottom: 0;" class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">COMENTARIO</th>
          <th scope="col">AUTOR</th>
          <th scope="col">CIUDAD</th>
          <th></th>
        </tr>
      </thead>

     {% for opinion in opiniones %}


       <tbody class="bodyTable">
         <tr>
          <th class="id" scope="row">{{opinion.id}}</th>
          <td class="comentario">{{opinion.comentario}}</td>
          <td class="autor">{{opinion.autor}}</td>
          <td class="ciudad">{{opinion.ciudad}}</td>
          <td><a class="enlace" href='{{path("deleteOp", {id:opinion.id})}}' style="color:white;"><i class="fas fa-trash-alt fa-1x"></i></a></td>
         </tr>
  
      </tbody>



     {% endfor %} 

</table>
     
     
     

{% endblock %}

 
{% block javascripts %}
     
{{parent()}}
    <script>
let bodyTable=document.getElementsByClassName("bodyTable");
let a = document.getElementsByClassName("enlace");
console.log(a);
let id = document.getElementsByClassName("id");
console.log(id);
let comentario = document.getElementsByClassName("comentario");
console.log(comentario);
let autor = document.getElementsByClassName("autor");
console.log(autor);
let ciudad = document.getElementsByClassName("ciudad");
console.log(ciudad);

for (let i = 0; i < a.length; i++) {
  a[i].addEventListener("click", borrar);
  function borrar(e) {
    let datos = {
      id: id[i].innerText,
      comentario: comentario[i].innerText,
      autor: autor[i].innerText,
      ciudad: ciudad[i].innerText,
    };
    console.log(datos);
    bodyTable[i].remove();
   
   
    fetch("/opiniones/lista/"+datos.id+"/borrar", {
    method: "POST",
    body: JSON.stringify(datos)});
    event.preventDefault();
  }
}
    </script>
    
    {% endblock %}






 