{% extends 'base.html.twig' %}

  {% block stylesheets %}

   {{parent()}}

   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
   <style>
   footer {
    height: 20vh;
    background-color: #343a40;
    color: white;
    font-size: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   }
   
   </style>
        
  {% endblock %}





    {% block content %}
     <table style="margin-bottom: 0;" class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NOMBRE</th>
          <th scope="col">EMAIL</th>
          <th scope="col">CIUDAD</th>
          <th></th>
        </tr>
      </thead>

     {% for usuario in usuarios %}


       <tbody>
         <tr>
          <th scope="row">{{usuario.id}}</th>
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.ciudad}} </td>
          <td><td><a href="{{path("delete", {id:usuario.id})}}" style="color:white;"><i class="fas fa-trash-alt fa-1x"></i></a></td></td>
          {# <td><a style="color: white;" href={{path("delete", {id:usuario.id})}}><img  width="15" src={{asset("assets/img/delete.png")}} alt="delete"></a></td> #}
         </tr>
  
      </tbody>



     {% endfor %} 

</table>
     
     
     

{% endblock %}



