{% extends 'base.html.twig' %}

  {% block stylesheets %}

   {{parent()}}

 

   <link rel="stylesheet" href={{asset("css/signin.css")}}>
        
  {% endblock %}


   {% block header %}{% endblock %}

    {% block content %} 
       {{form_start(loginForm, {'attr': { 'class':'form-signin'}})}}
        {% if error %}
          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
      <img  style="width: 75%; margin: auto" class="mb-4" src={{asset("assets/img/logo.svg")}} alt="logo">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
       {{form_widget(loginForm.email, {'attr': { 'class':'form-control', 'value': last_username}})}}
       {{form_widget(loginForm.password, {'attr': { 'class':'form-control'}})}}
        <input style='width:auto; margin-right:10px; display: inline' class="form-control" type="checkbox" id="remember_me" name="_remember_me" checked/>
        <label  for="remember_me">Recordarme</label>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
      <button class="boton-login btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      <p style="text-align: center;" class="mt-5 mb-3 text-muted">&copy; 2020</p>
      {{form_end(loginForm)}}
    
    {% endblock %}


{% block footer %} {% endblock %}

